spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://localhost:5432/felipeDB
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
